{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}ReCraft - Login{% endblock %}

{% block page_content %}
    <div class="container z-depth-1" style="width: 500px; margin-top: 120px; padding-top: 20px; padding-bottom: 20px;">
        <div>
            <h1><strong>Login</strong></h1>
        </div>
        {{ wtf.quick_form(form, button_map={"submit": "outline-primary"}) }}
        <p class="mt-3">
            New user?
            <a class="text-primary" href="{{ url_for('auth.register') }}">Click here to register</a>
        </p>
    </div>
{% endblock %}}
