{% extends "base.html" %}
{% block title %}ReCraft - Uploader{% endblock %}

{% block page_content %}
<div class="container pt-5">
    <h3 style="color:gray;" class="h3 mb-3">Uploader</h3>
    <hr>
    <form method='POST' action="#" enctype="multipart/form-data">
            <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" name="pictures" class="file-input" id="inputGroupFile01"
                            accept="image/jpeg, image/jpg, image/png" aria-describedby="inputGroupFileAddon01" multiple/>
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                  </div>
    </form>
    <div class="form-group">
        <label>Upload Pictures  (At least 1, Maximum 9)</label>
        <div class="file">
            <input type="file" class="file-input" name="pictures" accept="image/jpeg, image/jpg, image/png" multiple/>
        </div>
    </div>

    <input type="submit" value="Post is now!" class="btn btn-light btn-outline-info mt-3"></input>
</div>
{% endblock %}