{% extends "base.html" %}

{% block title %}ReCraft - Video{% endblock %}
{% block page_content %}
<div class="container pt-5 mb-6">
    <h3 style="color:gray;" class="h3 mb-3">{{v.title}}</h3> 
    <div class="text-center z-depth-1">
        <video width="1000" controls="controls">
            <source src="{{url_for('static', filename='video/%s'%v.dirname)}}" type="video/mp4" />
        </video>
    </div>   
    <h5 class="mt-3"><strong>Materials:</strong> {% for x in materials %}<span> {{x}}, </span>{% endfor %}</h5>
</div>
{% endblock %}