{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}ReCraft - Video{% endblock %}
{% block page_content %}
<div class="container pt-5 mb-6">
    <h3 style="color:gray;" class="h3 mb-3">{{v.title}}</h3> 
    <div class="text-center z-depth-1">
        <video width="1000" controls="controls">
            <source src="{{url_for('static', filename='video/%s'%v.dirname)}}" type="video/mp4" />
        </video>
    </div>
    <hr>
    <div class="float-right">
        <div class="row">
            <div class="mr-2" id="approved-circle" {% if v.difficulties == 0 %}style="background:rgba(0, 255, 0, 1);"{% else %}style="background:rgba(0, 255, 0, 0.1);"{% endif %}></div>
            <div class="mr-2" id="pending-circle" {% if v.difficulties == 1 %}style="background:rgba(255, 255, 0, 1);"{% else %}style="background:rgba(255, 255, 0, 0.1);"{% endif %}></div>
            <div class="mr-4" id="reject-circle" {% if v.difficulties == 2 %}style="background:rgba(255, 0, 0, 1);"{% else %}style="background:rgba(255, 0, 0, 0.1);"{% endif %}></div>
        </div>
    </div>
    <h5 class="mt-3"><strong>Materials:</strong> {{v.get_materials()}}</h5>
    <hr>
    <div class="mt-4 px-4 py-4" style="background-color: rgba(128, 128, 128, 0.089)">
        {{macros.comment_widget(v.cmts.all())}}
    </div>

    <button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModalCenter">Post Comment!</button>
    
    <form method='POST' action="#" enctype="multipart/form-data">
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
            <div class="modal-dialog modal-dialog-centered" role="document">


                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Post Comment</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mt-2">
                            <label for="exampleFormControlTextarea1">Large textarea</label>
                            <textarea name='content' class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


{% endblock %}